<ion-view view-title="Getting Started">


  <ion-content class="padding">

    <div class="col col-100">
        <img src="img/OSSLogo.png" style="width:70%" class="center">
    </div>

    <h2 align="center">Open Source Society University</h2>
    <p align="center">
      Path to a free self-taught education in <strong>Bioinformatics!</strong>
    </p>



    <h3>About</h3><hr />

    <p>This is a solid path for those of you who want to complete a <strong>Bioinformatics</strong> course on your own time, <strong>for free</strong> with courses from the <strong>best universities</strong> in the World.</p>
    <p>In our curriculum, we give preference to MOOC (Massive Open Online Course) style courses because these courses were created with our style of learning in mind.</p>
    <p>To become a bioinformatician, you have to learn quiet a lot of science, so be ready for subjects like; Biology, Chemistry, etc...</p>


    <h3>Motivation and Preparation</h3><hr />
    <p>Here are two interesting links that can make all the difference in your journey.</p>
    <p>The first one is a motivational video that shows a guy that went through the "MIT Challenge", which consists of learning the entire <strong>4-year MIT</strong> curriculum for Computer Science in <strong>1 year.</strong></p>
    <p></p>
    <button class="button button-block button-outline button-dark" href="https://www.scotthyoung.com/blog/myprojects/mit-challenge-2/">
        MIT Challenge
    </button>
    <p></p>
    <p>The second link is a MOOC that will teach you learning techniques used by experts in art, music, literature, math, science, sports, and many other disciplines. These are fundamental abilities to succeed in our journey.</p>
    <button class="button button-outline button-block button-dark" href="https://www.coursera.org/learn/learning-how-to-learn">
      Learning How to Learn
    </button>
    <p>If you are ready to get started, navigate to the classes section with the top left button.</p>


    <h3>How to use this guide</h3><hr />
    <p>This guide was developed to be consumed in a linear approach. What does this mean? That you should complete one course at a time.</p>
    <p>The courses are already in the order that you should complete them. Just start the first course, Introduction to Biology, when you done with it, start the next one.</p>
    <p>If the course is not open, do it with the archived resources or wait until next class is open.</p>

    <h3>Should I take all courses?</h3><hr />
    <p><strong>Yes!</strong> The intention is to conclude <strong>all</strong> the courses listed here! Also we highly encourage you to complete more by reading papers and attending research projects after your coursework is done.</p>




    <h3>Be creative!</h3><hr />
    <p>This is a <strong>crucial</strong> part of your journey through all those courses.</p>
    <p>You <strong>need</strong> to have in mind that what you are able to <strong>create</strong> with the concepts that you learned will be your certificate and <strong>this is what really matters!</strong></p>
    <p>In order to show that you really learned those things, you need to be creative!</p>
    <p>Here are some tips about how you can do that:<p>
    <ul>
      <li><strong>Articles</strong>: create blog posts to synthesize/summarize what you learned.</li>
      <li><strong>GitHub repository</strong>: keep your course's files organized in a GH repository, so in that way other students can use it to study with your annotations.</li>
    </ul>



  </ion-content>
</ion-view>
