<ion-view view-title="OSS University">


  <ion-content class="padding">



    <div class="col col-100">
        <img src="img/OSSLogo.png" style="width:70%" class="center">
    </div>



    <h3 align="center">Open Source Society University</h3>
    <p align="center">
      Path to a free self-taught education in <strong>Bioinformatics!</strong>
    </p>




    <button menu-close class="button button-block button-positive" ui-sref="app.about">
      Getting Started
    </button>
    <button menu-close class="button button-block button-positive" ui-sref="app.home">
      Classes
    </button>
    <button menu-close class="button button-block button-positive" ui-sref="app.progress">
      Progress
    </button>
    




  </ion-content>
</ion-view>
