<ion-view view-title="Classes">
  <ion-content>
    <div class="padding">
        <h3>How to use this guide</h3><hr />
        <h4>Order of the classes</h4>
        <p>This guide was developed to be consumed in a linear approach. What does this mean? That you should complete one course at a time.</p>
        <p>The courses are already in the order that you should complete them. Just start the first course, Introduction to Biology, when you done with it, start the next one.</p>
        <h4>Class List by Year</h4>
      </div>





    <ion-list>

      <!--Races Tag-->
      <ion-item class="font-size 40px;" href="#/app/ones">
        Year One
      </ion-item>

      <!--Classes Tag-->
      <ion-item class="font-size 40px;" href="#/app/twos">
        Year Two
      </ion-item>

      <!--Background Tag-->
      <ion-item class="font-size 40px;" href="#/app/threes">
        Year Three
      </ion-item>

      <!--Background Tag-->
      <ion-item class="font-size 40px;" href="#/app/fours">
        Year Four
      </ion-item>

      <!--Background Tag-->
      <ion-item class="font-size 40px;" href="#/app/exs">
        Extra Year
      </ion-item>

    </ion-list>


  </ion-content>
</ion-view>
