<ion-view view-title="Home">
  <ion-content>

    <h2 align="center">Open Source Society University</h2>
    <p align="center">
      Path to a free self-taught education in  <strong>Bioinformatics!</strong>
    </p>
    <p align="center">
      <a href="https://github.com/open-source-society/bioinformatics">
    	<img alt="Open Source Society University - Bioinformatics" src="https://img.shields.io/badge/OSSU-bioinformatics-blue.svg">
      </a>
    </p>


    <h3>About</h3><hr />

    <p>This is a solid path for those of you who want to complete a **Bioinformatics** course on your own time, **for free**, with courses from the **best universities** in the World.</p>







  </ion-content>
</ion-view>
