<ion-view view-title="Projects">
  <ion-content>
    <div class="padding">
        <h3>How to use this guide</h3><hr />
        <h4>Order of the classes</h4>
        <p>This guide was developed to be consumed in a linear approach. What does this mean? That you should complete one course at a time.</p>
        <p>The courses are already in the order that you should complete them. Just start the first course, Introduction to Biology, when you done with it, start the next one.</p>
      </div>




  </ion-content>
</ion-view>
